public-hoist-pattern[]=*@babel*
public-hoist-pattern[]=*@emotion*
public-hoist-pattern[]=*@types*
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
legacy-peer-deps=true
prefer-workspace-packages=true
use-node-version=18.19.0 